body{
    background: #313131;
}

.header{
    display: flex;
}

#header1{
    background: #2c2c2c;
    width: 80%;
    color: white;
}

div#header1 h1{
    color: #ffb633;
}

#header2{
    background: #ffb633;
    width: 20%;
}

#img1{
    position: absolute;
    left: 71%;
    height:250px;
}

#content{
    color: white;
}

#content h2{
    text-align: center;
    color: #ffb633;
}

.about-me{
    display: flex;
}

#image2{
    width: 400px;
}

.paragraph{
    margin-left: 30px;
    margin-right: 180px;
    font-size: 1.5em;
}